@font-face {
    font-family: 'Miriam Libre';
    src: url(../../public/fonts/MiriamLibre-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url(../../public/fonts/Inter.ttf) format('truetype');
}

$color_background: #1A1A1A;
$color_components: #222222;
$color_font_button: #f1f1f1;
$color_modals: #D9D9D9;
$color_primary_button: #4F56FF;
$color_secondary_button: #7187FF;
$color_titles: #a1aff9;
$color_titles_secondary: #cdd4fc;
$color_details: #424148;
$color_negative: #FF7C7C;
$color_positive: #83FF81;

$font_titles: 'Miriam Libre', sans-serif;
$font_default: 'Inter', sans-serif;


