@import 'utils';

* {
    margin: 0;
    padding: 0;
    font-family: $font_default;
}

h1, h2, h3 {
    font-family: $font_titles;
    color: $color_titles;
    text-align: center;
}

body {
    color: $color_modals;
    background-color: $color_background;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 15px 20px;
    border-bottom: 1px solid  $color_details;
    background: $color_components;
    box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.17);

    a {
        text-decoration: none;
    }

    nav {
        display: flex;
        gap: 1rem;
    }

    nav a {
        display: block;
        padding: 10px;
        border-radius: 10px;
        color: $color_components;
        background-color: $color_modals;
    }
}

main {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input[type=text]{
        min-width: 50px;
        max-width: 100px;
    }
}

button {
    align-self: center;
    padding: 0.5rem;
    max-width: 100px;
}

.select-disciplinas {
    display: flex;
    gap: 0.5rem;

    h3 {
        color: $color_modals;
    }
}

.modulo {
    min-width: 400px;
    max-width: 500px;

    h1, h2 {
        margin-bottom: 1rem;
    }

    .form, .lista {
        display: flex;
        padding: 40px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        border-radius: 20px;
        border: 1px solid $color_details;
        background-color: $color_components;
    }
}

.modal {
    max-width: 30%;
    text-align: center;
    color: $color_components;
    background-color: $color_modals;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 35%;
    padding: 1rem;
    z-index: 3;

    h2, h3 {
        color: $color_primary_button;
    }
}

.fundo-modal.ativo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.5);
}

.campo-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.gerando-avaliacao, .visualizando-avaliacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lista-questoes-avaliacao {

    li {
        display: flex;
        gap: 10px;
        padding: 10px;
        margin: 5px;
        border: dotted $color_details 2px;
    }

    input, select {
        max-width: 50px;
    }
}