body {
    margin: 0;
}

.navbar {
    display: flex;
    background-color: rgb(209, 193, 250);
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

form {
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}